.formContainer {
  width: 100%;
}

.formBlock {
  position: absolute;
  left: 23%;
  right: 23%;
  top: 15%;
  padding: 2% 3%;
  background-color: #f0e5fd;
  border-radius: 15px;
  /* border: 3px solid #000; */
}

.MuiFormLabel-root {
  color: black !important;
}

.Mui-focused {
  color: #7d2ae8 !important;
}

.MuiInputBase-root {
  background-color: #fff;
}

.profileAvatar {
  border: 5px solid #7d2ae8;
  position: absolute;
  left: 38%;
  margin-bottom: 5%;
}

.rowedInput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.MuiAvatar-root {
  width: 150px !important;
  height: 150px !important;
}

.MuiButton-contained {
  background-color: #7d2ae8 !important;
  font-size: 1.2rem !important;
  margin: 20px !important;
  width: 30%;
  position: absolute;
  /* left: 4%; */
}

.alreadyHave {
  position: relative;
  left: 33%;
  margin-top: 7px;
  padding: 1%;
}

.formTitle {
  position: absolute;
  left: 10%;
  font-size: 1.5rem;
}

.navbarForm {
  background-color: #000 !important;
}
