.idea {
  margin: 0 80px;
  /* border: 3px solid rgb(182, 175, 175);
  border-radius: 1.5rem; */
  padding: 1rem;
  margin-bottom: 3rem;
}

.idea-contents {
  display: flex;
}

.contact {
  display: flex;
  justify-content: flex-end;
}

.idea-title {
  margin: -2% 10% 0 10%;
}

.name,
.date {
  padding: 20px;
}

.ideaImage {
  border-radius: 50%;
  width: 6%;
  height: 6%;
  border: 4px solid #7d2ae8;
  position: inherit;
  margin-top: 1%;
}

.navigation_button {
  background-color: #7d2ae8 !important;
  font-size: 1.2rem !important;
  margin: 10 auto !important;
  transition: 0.7s !important;
  margin-right: 30px !important;
  color: #fff !important;
  font-weight: 600 !important;
}

.navigation_button:hover {
  background-color: #6320bb !important;
  /* font-size: 1.6rem; */
  box-shadow: 5px 5px 10px #868686, -5px -5px 10px #ffffff !important;
}

@media (max-width: 767px) {
 .idea-contents{
   display: grid;
   justify-content:center;
 }
 .ideaImage{
   height:4rem;
   width:4rem;
   justify-content:center;
   display: flex;
   margin: 0 auto !important;
 }
 .name,
.date {
  padding: 5px;
  text-align: center;
}
}
@media (max-width: 1004px) {
  .idea-contents{
    display: grid;
    justify-content:center;
  }
  .ideaImage{
    height:4rem;
    width:4rem;
    justify-content:center;
    display: flex;
    margin: 0 auto !important;
  }
  .name,
 .date {
   padding: 5px;
   text-align: center;
 }
}
