.idea{
    margin: 0 80px;
}

.idea-contents{
    display: flex;
   
}

.contact{
    display: flex;
    justify-content: flex-end;
}

.idea-title{
    margin-left: 136px;
}

.name, .date{
    display: grid;
}