.main {
    margin: 10px;
  }

  .MuiChip-colorPrimary {
    color: #fff !important;
    background-color: #6708ff !important;
    margin: inherit !important;
    font-size: 15px !important;
    font-weight: 600 !important;
}
