.columns{
    margin: 20px;
    display: flex;
}

.main {
    margin: 10px;
  }
  .column-left {
    padding: 10px;
    margin: 10px;
  }
  
  .column-right{
    height:50%;
    width:80%;
    padding: 10px;
    align-items: center;
    text-align: center;
    margin-left: 30px;
  }

  .MuiChip-colorPrimary {
    color: #fff !important;
    background-color: #6708ff !important;
    margin: inherit !important;
    font-size: 15px !important;
    font-weight: 600 !important;
}
