.main {
  /* background-color:#f8ecf8 ; */
  margin: 10px;
}
.leftside {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

.rightside {
  display: flex;
  justify-content: space-around;
  padding-top: 35px;
}

.title {
  display: flex;
  justify-content: space-around;
}

.description {
  font-size: 3.76rem;
  text-align: center;
}

/* @media (max-width: 80em) {
  .description{
    font-size: 5.76rem;
  }
} */

.MuiButton-contained {
  background-color: #7d2ae8 !important;
  font-size: 1.2rem !important;
  margin: 0 auto !important;
  margin-top: 20px !important;
  transition: 0.7s !important;
  color: #fff !important;
  font-weight: 600 !important;
}

.MuiButton-contained:hover {
  color: #fff;
  background-color: #7d2ae8;
  /* font-size: 1.6rem; */
  box-shadow: 5px 5px 10px #868686, -5px -5px 10px #ffffff !important;
}

/*responsive*/
@media (max-width: 767px) {
  .MuiButton-contained {
    font-size: 1rem !important;
  }
}
@media (max-width: 574px) {
 
}


img {
  height: 29rem;
}

.left {
  display: flex;
}

.navbar {
  background-color: transparent;
}

.navbar.colorChange {
  background-color: #f8ecf8;
  box-shadow: 0 0px 2px rgba(0, 0, 0.1);
}

.imgslider {
  margin-top: 50px;
}

.heading {
  font-size: 3rem;
}

.animated {
  animation: up-down 9s ease-in-out infinite alternate-reverse both;
}
/* 
@media (max-width: 80em) {
 .animated {
   height:15rem;
  }
} */

@media (max-width: 767px){
  .animated {
    height:11rem;
    /* margin-top: 4rem; */
   }
   .description{
     font-size:1.8rem;
   }
   .title{
     display:grid;
   }
 }

 @media (max-width:1300px){
  .animated {
    height:17rem;
    /* margin-top: 4rem; */
   }
   .description{
     font-size:2.8rem;
   }

 }

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}


