.columns{
    margin: 20px;
    display: flex;
}

.main {
    /* background-color:#f8ecf8 ; */
    margin: 10px;
  }
  .column-left {
    /* display: flex; */
    padding-top: 10px;
    /* flex-direction: column; */
    border: 1px solid #000;
  }
  
  .column-right{
    /* display: flex; */
    /* justify-content: space-around; */
    /* padding-top: 35px; */
    border: 1px solid #000;
    height:50%;
    width:80%;
    padding: 20px;
    /* margin: 20px; */
  }
