
.navigation_button {
  background-color: #7d2ae8 !important;
  font-size: 1.2rem !important;
  margin: 10 auto !important;
  transition: 0.7s !important;
  margin-right: 30px !important;
  color: #fff !important;
  font-weight: 600 !important;
}

.navigation_button:hover {
  background-color: #6320bb !important;
  /* font-size: 1.6rem; */
  box-shadow: 5px 5px 10px #868686, -5px -5px 10px #ffffff !important;
}

@media (max-width: 848px) {
  /*Mobile View */
  
  .logo {
    width: 45px;
    height: 45px;
  }
  .nav-options {
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 10px;
  }
  .nav-options.active {
    background: #f2f2ff;
    left: 0;
    opacity: 1;
    transition: all 0.9s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
    height: 12rem;
  }

  .menu-icon {
    width: 45px;
    height: 45px;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 10vw; */
    /* padding: 30px 0px; */
  }

}
.mobile-menu {
  display: block;
}
