
.navigation_button {
  background-color: #7d2ae8 !important;
  font-size: 1.2rem !important;
  margin: 10 auto !important;
  transition: 0.7s !important;
  margin-right: 30px !important;
  color: #fff !important;
  font-weight: 600 !important;
}

.navigation_button:hover {
  background-color: #6320bb !important;
  /* font-size: 1.6rem; */
  box-shadow: 5px 5px 10px #868686, -5px -5px 10px #ffffff !important;
}

/*responsive*/
@media (max-width: 767px) {
  .navigation_button {
    font-size: 1rem !important;
    /* margin: 10 auto !important; */
    transition: 0.7s !important;
    /* margin-right: 30px !important; */
    color: #fff !important;
    font-weight: 600 !important;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
