.submain {
  background-color: #5cb85c;
  margin-top: 8%;
}

.timeline {
  display: flex;
  height: 500px;
}

.how_icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto;
  height: 100px;
  z-index: 3;
  position: absolute;
  top: 140%;
  left: 10%;
}

.top_row {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  top: 10%;
  left: 8%;
  height: 100px;
}
.bottom_row {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  top: 60%;
  left: -44%;
  height: 120px;
}

.box {
  margin-right: 200px;
}

.box img {
  height: 6rem;
  width: 6rem;
  background-color: transparent;
  border-radius: 100px;
  border: 8px solid rgb(255, 255, 255);
}

.center {
  justify-content: center;
  align-items: center;
  width: 550px;
}

.lower {
  justify-content: center;
  align-items: center;
  width: 620px;
}

.description {
  text-align: center;
}
